.bg-model {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: flex;
    top: 0;
    display: none;
}

.model-contant {
    height: 100%;
    width: 50%;
    background-color: white;
    opacity: 1;
    align-items: center;
    position: absolute;
    right: 0px;
    border-radius: 10px 0px 0px 10px;
    padding-left: 20px;
}

#outer {
    width: 173px;
    height: 150px;
    background-color: #F5F3F5;
    border-radius: 20px;
    display: inline-block;
    margin: 5px;
}

#course_img {
    background-image: linear-gradient(29deg, rgb(81, 157, 237), rgb(56, 229, 199));
    border-radius: 10px 10px 0px 0px;
}

#course_img2 {
    background-image: linear-gradient(29deg, rgb(255, 95, 95), rgb(255, 175, 120));
    border-radius: 10px 10px 0px 0px;
}

#course_img3 {
    background-image: linear-gradient(29deg, rgb(63, 143, 239), rgb(145, 92, 229));
    border-radius: 10px 10px 0px 0px;
}

#coursw_img4 {
    background-image: linear-gradient(29deg, rgb(255, 95, 95), rgb(255, 95, 95));
    border-radius: 10px 10px 0px 0px;
}

#title {
    font-size: 20px;
    color: darkgray;
    text-align: center;
    padding-top: 0px;
}

img {
    width: 173px;
    height: 100px;
}

#search {
    height: 150px;
    width: 100%;
}

#myinput {
    margin-top: 120px;
    margin-left: 30px;
    width: 78%;
}

.close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    font-weight: bold;
    transform: rotate(45deg);
    cursor: pointer;
}